:root {
  --primary-color: #71ff71;
  --secondary-color: #00A4BD;
  --text-color: #000;
  --hover-bg-color: #00A4BD;
  --hover-text-color: #fff;
  --bg-color: #fff;
  --dropdown-bg-color: #c2eca7;
  --transition-duration: 0.3s;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 500;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

#nav-logo .logo {
  width: 40px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 15px;
  transition: all var(--transition-duration) ease;
}

.nav-link:hover,
.nav-link-active {
  background-color: var(--primary-color);
  color: var(--hover-text-color);
  border-radius: 5px;
}

.nav-toggle-btn {
  display: none;
  cursor: pointer;
}

#nav-toggle {
  display: none;
}

.dropdown-container {
  position: relative;
}

.dropdown-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-img {
  width: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--bg-color);
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 200;
  min-width: 150px;
  overflow: hidden;
  transition: all var(--transition-duration) ease;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--text-color);
  transition: background-color var(--transition-duration) ease;
}

.dropdown-content a:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

@media (max-width: 858px) {
  .nav-toggle-btn {
    display: block;
  }
  .nav-list {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: var(--primary-color);
    text-align: center;
    transition: left 0.5s ease;
    z-index: 5000;
  }
  .nav-item {
    margin: 20px 0;
  }
  #nav-toggle:checked ~ .nav-list {
    left: 0;
  }

}

@media (max-width: 1000px) {
  .nav-list {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: var(--primary-color);
    text-align: center;
    transition: left 0.5s ease;
    z-index: 1000; /* Ajusta el valor de z-index según sea necesario */
  }
  /* Asegúrate de que el navbar se muestre correctamente cuando se activa el toggle */
  #nav-toggle:checked ~ .nav-list {
    left: 0;
  }
}