.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  #carta_wish {
    border-radius: 25px;
  }
 
  .accion_producto{
    
    position: absolute;
    width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
  }
  .accion_producto:hover a.btn{
    opacity: 1;
    margin-top: 0px;
  }
  #carta_wish:hover .accion_producto{
    
    background-color: rgba(50, 50, 49, 0.413);
    
  }
  #nombre_curso{
    color: rgb(84, 150, 113);
    font-weight: bolder;
    font-size: 23px;
    text-decoration: none;
  }
  .accion_producto a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 20px;
    opacity: 0;
    transition: all .3s;
  }
  body {                                                                                                                        
    background: linear-gradient(
      to bottom right,
      rgb(52, 80, 58),
      rgb(39, 61, 34),
      rgb(32, 54, 30),
      rgb(39, 73, 50)
    );
    background-repeat: no-repeat;
  }
  #TodoParaBack {
    min-height: 100vh;
  }
  #imagen_curso {
    
    border-top-left-radius: 25px; 
    border-top-right-radius: 25px;
    width: 100%;
    height: 150px;
    z-index: 2;
    overflow: hidden;
  }
  .bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
    z-index: -1;
  }
  .product-img {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden; 
  }
  #boton_quitar_wish {
    background: transparent;
    position: absolute;
    float: right;
    background-size: cover;
    background-image: url('@/assets/img/close.png');
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 200px;
    
  }
  hr {
    width: 100%;
    background-color: rgb(145, 192, 145);
    margin: auto;
    height: 2px;
  }
  #boton_quitar_wish:hover {
    transition-duration: 0.5s;
    background-color: rgb(244, 75, 75);
    background-size: cover;
  }
  .product-item {
    width: 100%;
    max-width: 300px;
  }
  @media (max-width: 1200px) {
    .product-item {
      max-width: 250px;
    }
  }
  @media (max-width: 992px) {
    .product-item {
      max-width: 200px; 
    }
  }
  @media (max-width: 768px) {
    .product-item {
      max-width: 150px; 
    }
  }
  @media (max-width: 576px) {
    .product-item {
      max-width: 100%; 
    }
  }
  